[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest
[submodule "lib/options"]
	path = lib/options
	url = git@github.com:mlazowik/options.git
[submodule "lib/stream"]
	path = lib/stream
	url = git@github.com:mlazowik/stream.git
[submodule "lib/io"]
	path = lib/io
	url = git@github.com:mlazowik/io.git
