[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest
[submodule "lib/options"]
	path = lib/options
	url = git@github.com:mlazowik/options.git
[submodule "lib/networking"]
	path = lib/networking
	url = git@github.com:mlazowik/networking.git
